#icon-container {
    background-image: url('../components/assets/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    margin: auto;
}

.icon {
    width: 13%;
    height: 10%;
    margin: 3%;
    padding: 40px;
    border-radius: 100%;
    background-color: white;
    z-index: 999;
    border-width: 20px;
    border-style: solid;
}

.icon-large {
    width: 25%;
    height: 20%;
    margin: 3%;
    padding: 60px;
    border-radius: 100%;
    background-color: white;
    z-index: 999;
    border-width: 30px;
    border-style: solid;
}

.icon-answer {
    cursor: pointer;
}

#paper {
    border-color: #5470F4;
}

#scissors {
    border-color: #EBA625;
}

#rock {
    border-color: #DD3D5A;
}

#game-inprogress {
    margin: auto;
    width: 60%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#answer-animation {
    animation: show-answer 3s both;
}

#opponent-animation {
    animation: show-answer-later 3s both;
}

.answer-icon-container {
    margin-top: 100px;
}

@keyframes show-answer {
    0% {
        visibility: none;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes show-answer-later {
    0% {
        visibility: none;
        opacity: 0;
    }

    50% {
        visibility: none;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}