#parent-nav-container {
    padding: 50px;
    position: relative;
    z-index: 20;
}

.nav-container {
    align-items: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: solid #5B6A82;
    border-radius: 5px;
    border-width: 3px;
}

.container-items {
    margin: 2.5%;
}

.score-container {
    width: 70%;
    height: 80%;
    padding: 0 20px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: white;   
}

h4 {
    padding-top: 15px;
    color: var(--score-color);
}

.score-container > p {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--dark-text-color);
}


@media screen and (max-width: 1400px) {
    #parent-nav-container {
        padding: 30px;}
}

@media screen and (max-width: 900px) {
    .nav-container {
        width: 80%;
    }
}


@media screen and (max-width: 600px) {
    .nav-container {
        width: 90%;
    }

     #parent-nav-container {
        padding: 20px;;
    }

    #title {
        text-align: left;
        padding-left: 10px;
    }

    #logo { 
        width: 60%;
    }

    h5 {
        padding-top: 5px;
        font-size: 0.7rem;
    }

    .score-container {
        width: 50%;
        height: 50%;
        padding: 0 20px;
        margin: 10px 20px 10px 0;
        border-radius: 3px;
        background-color: white;   
    }

    .score-container > p {
        font-size: 2rem;
        font-weight: bolder;
    }
}