#parent-nav-container {
    padding: 50px;}

.nav-container {
    align-items: center;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: solid #5B6A82;
    border-radius: 25px;
}

.container-items {
    margin: 30px;
}

.score-container {
    width: 100px;
    height: 100px;
    padding: 2px 30px;
    border-radius: 10px;
    background-color: white;   
}

h4 {
    padding-top: 15px;;
}

.score-container > p {
    font-size: 50px;
    font-weight: 500;
    color: #4a5992;
}