#parent-nav-container {
    padding: 50px;}

.nav-container {
    align-items: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: solid #5B6A82;
    border-radius: 25px;
}

.container-items {
    margin: 2.5%;
}

.score-container {
    width: 70%;
    height: 80%;
    padding: 0 20px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: white;   
}

h5 {
    padding-top: 15px;
    color: #3C48A1;
}

.score-container > p {
    font-size: 3rem;
    font-weight: bolder;
    color: #56546C;
}


@media screen and (max-width: 900px) {
    .nav-container {
        width: 80%;
    }
}


@media screen and (max-width: 600px) {
    .nav-container {
        width: 90%;
    }

    #parent-nav-container {
        padding: 20px;;
    }

    .item {
        width: 70%;
    }

    .score-container {
        margin: 0;
        padding: 0 10px;
        border-radius: 10px;
        background-color: white;   
    }

    .score-container > p {
        font-size: 2rem;
        font-weight: bolder;
        color: #56546C;
    }
}